<% layout('layout') -%>


<section class="container my-5 px-4 contact">
  <h2 class="text-center mb-4 fw-bold">Contact Us</h2>
  <p class="text-center mb-5 text-muted">We’d love to hear from you! Reach out with any questions or feedback.</p>

  
    <div class="col-lg-12 mb-5">
      <div class="p-4 shadow rounded bg-white">
        <h5 class="fw-bold mb-3">Get in Touch</h5>
        <p class="text-muted">Feel free to reach us through any of the following:</p>
        
        <div class="addresses">
            <p><i class="fa-solid fa-envelope"></i>  support@freelancerbix.com</p>
            <p><i class="fa-solid fa-phone"></i>  +91 XXXXXXXXXXX</p>
            <p><i class="fa-solid fa-location-dot"></i> New Delhi, India</p>
        </div>
        
        <div class="mt-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224345.83923879614!2d77.0688998!3d28.527582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd1da711e2c7%3A0xd08e5cb16f4e15a!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1707134567001!5m2!1sen!2sin"
            width="90%" height="400" style="border:0; border-radius:10px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
